body {
  background-color:#fff;
  color:#000;
  font-family: sans-serif;
}

a { color: #66f; text-decoration:none; }
a:hover {  text-decoration:underline; }

.slide {
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
  -webkit-transition-duration:0.5s;
}
.slide.current {
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);
}

.slide pre {
  border: 3px solid #ccc;
}

code {
  font-family: monospace;
}
