<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <% (@stylesheets + @theme_stylesheets).each do |filename| %>
    <link type="text/css" rel="stylesheet" href="./css/<%= filename %>" />
    <% end %>
    <% (@scripts + @theme_scripts).each do |filename| %>
    <script type="text/javascript" src="./js/<%= filename %>"></script>
    <% end %>
    <title><%= @title %></title>
  </head>
  <body>
    <div id="slides">
      <%= yield %>
    </div>
  <div id="toolbox">
    <div class="forSlides">
			<div>
				<form>
					<input name="resizeToggle" type="checkbox" id="resizeToggle" checked/><label for="resizeToggle" id="resizeLabel">&#9745; Auto Resizing : ON</label>
				</form>
			</div>
			<div>
				<a href="#" class="prev">&lt;&lt;</a>
				<a href="#outline">View Outline</a>
				<a href="#" class="next">&gt;&gt;</a>
			</div>
    </div>
    <div class="forOutline">
      <a href="#" class="toSlide">View Slide</a>
    </div>
  </body>
</html>
